.Dictionary section {
  background: white;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgb(0 0 0 / 10%);
  margin: 20px 0;
  line-height: 1.5;
}

.Dictionary input {
  padding: 6px 4px;
  border: 1px solid #ddd;
  border-radius: 6px;
  color: #333;
  font-family: "Merriweather", serif;
}

.Dictionary p {
  font-family: "Poppins", sans-serif;
  font-size: 14px;
  line-height: 1;
}

.Dictionary .searchBar {
  width: 80%;
}

.Dictionary .searchButton {
  width: 20%;
  background-color: #015178;
  color: #ddd;
  transition: all 100s ease-in-out;
}

.searchButton :hover {
  background-color: #3b87a6;
}
