.Phonetic {
  margin-bottom: 15px;
}

.Phonetic a {
  background-color: white;
  border: 2px solid rgb(139, 136, 136);
  padding: 9px;
  margin-right: 8px;
  text-decoration: none;
  color: rgb(255, 224, 165);
  margin-left: 8px;
}

.Phonetic a:hover {
  background-color: rgb(255, 224, 165);
  color: black;
}

.Phonetic .phonetic-text {
  font-weight: bold;
  font-style: italic;
  opacity: 50%;
}
